.fila
  border-bottom: 1px solid lightgrey
  padding: 1em
  font-family: 'IM Fell Great Primer', serif
  cursor: pointer
  display: flex
  justify-content: space-between

  &:hover
    background-color: #dddddd
  .enlace
    text-decoration: none
    color: black
